@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-20px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-4px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

// vue router transition
//fade in/out
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

/// slide in 
//from right to left
.slideLeft-leave-active,
.slideLeft-enter-active {
  transition: .5s;
  transition-timing-function: ease-in-out;
  
}
.slideLeft-enter {
  transform: translate(150%, 0);
}
.slideLeft-leave-to {
  transform: translate(-150%, 0);
  opacity: 0;
}
//from right to left
.slideRight-leave-active,
.slideRight-enter-active {
  transition: .5s;
  transition-timing-function: ease-in-out;
}
.slideRight-enter {
  transform: translate(-150%, 0);
}
.slideRight-leave-to {
  transform: translate(150%, 0);
  opacity: 0;
}