
@import "./_pagination.scss";
@import "./_variables.scss";
@import "./_layout.scss";
@import "./_elements.scss";
@import "./_lists.scss";
////////////////////////////////////////////////////////////////////////
// BASIC
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  font-size: 62.5%;
  font-family: $main-font;
  color: $font-color;
  font-weight: 200;
}
////////////////////////////////////////////////////////////////////////
// TYPOGRAPHY

li {
  list-style: none;
}
h1 {
  font-family: $main-font;
}
h2 {
  font-family: $main-font;
  font-weight: 400;
}





