////////////////////////////////////////////////////////////////////////
// PAGE SETTING
.page__container {
    min-height: 100vh;
    width: 100%;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    width: 100%;
    flex: 0 0 20vh;
    
    color: $font-color;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 15vw repeat(2, 1fr) 15vw;
  
    &__title {
      font-size: 2.3rem;
      transition: all .8s;
      &-container {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 2rem;
        text-transform: uppercase;
        width: 80%;
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        align-self: end;
        & i {
          color: $color-yellow;
          font-size: 1.4rem;
          margin: auto 1rem
        }
      }
    }
    &__action {
      cursor: pointer;
      background-color: $font-color;
      width: 9rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
      font-size: 1.8rem;
      transition: all .2s;
      grid-row: 6 / 7 ;
      margin-bottom: 1.3rem;
      align-self: end;
      animation: bump .5s forwards;
      transition-timing-function: ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(1);
      }
      & p {
        font-size: .9rem;
        font-weight: 500;
  
      }
      &-right {
        
        grid-row: 6 / 7 ;
        grid-column: 9 / 10;
        justify-self: end;
      }
      &-left {
        
        grid-column: 2 / 3;
        justify-self: start;
      }
      
    }
    
    &__menu {
      grid-row: 2;
      grid-column: 3;
      align-self: start;
      justify-self: end;
      
      width: 80%;
      height: 4rem;
      position: relative;
      margin-top: .5rem;
      cursor: pointer;
      animation: bump .5s forwards;
      
      &:hover .header__menu-circle-1 {
        transform: translateX(-270%);
        & i { opacity: 1;}
      } 
      &:hover .header__menu-circle-2 {
        transform: translateX(-180%);
        & i { opacity: 1;}
      } 
      &:hover .header__menu-circle-3 {
        transform: translateX(-90%);
        & i { opacity: 1;}
      } 
      &-circle {
        position: absolute;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s;
        &:hover {
          top: -2px;
        }
        &:active {
          top: 0;
        }
        &-1,&-2,&-3 {
          opacity: .7;
          & i {opacity: 0;}
        }
        &-1{right:6rem; }
        &-2{right:4rem; }
        &-3{right:2rem; }
        &-4 {
          right:0px; 
          transform: scale(1.2); 
          background-color: $base-color;
          transition: all .5s;
          opacity: .9;
        }
        & i {
          font-size: 2rem;
          color: $color-white;
          margin-bottom: 2px;
          transition: all 1s;
        }
        
      }
    }
  }
  // for add products // customers button
  .btn_container {
    margin-top: -2rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  // standard body element
  .body {
    height: 80vh;
    flex: 0 0 80vh;
    width: 100%;
    
    
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: [full-start] 15vw [center-start] repeat(8, [col-start] minmax(min-content, 40rem)[col-end])[center-end] 15vw [full-end]; // every collumn will be either min con or 14 rem max
    
  }
  
  
  ////////////////////////////////////////////////////////////////////
  ///// fit to body

  .body_element {
    grid-row: 1 / 6;
    grid-column: center-start / center-end;
  }
  
  
  