.products {
    grid-row: 1 / 2;
    grid-column: center-start / center-end;
    
    &__search {
      margin-top: 1rem;
      &-input {
        outline: none;
        color: $base-color;
        height: 1.8rem;
        width: 7rem;
        border-radius: 100px;
        border: 2px solid $base-color-light;
        background-color: $base-color-lighter;
        transition: all .5s;
        padding-left: 10px ;
        &:focus {
          width: 15rem;
        }
      }
      &-btn {
        display: none;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &__line {
      border: 0;
      height: 1px;
      background: $base-color-light;
      background-image: -webkit-linear-gradient(left, $base-color-light, $base-color, $base-color-light);
      
    }
    
  }

  .bg-lighter {
    background-color: $base-color-light;
  }
  .edit_input {
    margin-right: 1rem;
    color: $base-color;
    outline: none;
    border-radius: 100px;
    border: 2px solid $base-color-light;
    background-color: $base-color-lighter;
    
    padding-left: 6px ;
  }