// actual list element 
.list {
  grid-row: 2 / 6;
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

// MINI HEADER STYLES
.products {
  grid-row: 1 / 2;
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  &__search {
    margin-top: 1rem;
    margin-bottom: 1rem;
    &-input {
      outline: none;
      color: $base-color;
      height: 2.5rem;
      width: 10rem;
      
      border: 2px solid $base-color-light;
      background-color: $base-color-light;
      transition: all .5s;
      padding-left: 10px ;
      &:focus {
        width: 15rem;
      }
    }
    &-btn {
      display: none;
    }
  }
  &__header {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .5rem;
    
  }

  &__line {
    margin-bottom: .2rem;
    border: 0;
    height: 1px;
    background: $base-color;
   
    
  }
}
  .bg-lighter {
    background-color: $base-color-light;
  }
  .edit_input {
    margin-right: 1rem;
    color: $base-color;
    outline: none;
   
    border: 2px solid $base-color-light;
    background-color: $color-white;
    
    padding-left: 6px ;
  }
// FOOTER of the lists // PAGINATION
  .footer {
  
    grid-row: 6 / 7;
    grid-column: center-start / center-end;
    margin-top: .1rem;
    display: flex;
    flex-direction: column;
    
  }
// CUSTOMER CLASS - HISTORY AND CUSTOMER LISTS 
  .customer {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 4.6rem;
    align-items: center;
    transition: all .1s;
    font-size: .8rem;
    &:hover {
        background-color: $base-color-light;
    }
    &__name {
      width: 19%;
    }
    &__address {
      width: 40%;
    }
    &__contact {
      width: 18%;
    }
    // console style
    &__console {
      width: 11%;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      font-size: .9rem;
      cursor: pointer;
      height: 100%;
      &-edit,
      &-delete,
      &-invoice,
      &-yes,
      &-no {
        
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          transform: scale(1.1);
        }
      }
      &-edit,
      &-delete,
      &-invoice {
        width: 33%;
      }
      &-yes,
      &-no {
        width: 50%;
      }


      &-edit {
        color: $color-green;
      }
      &-delete {
        color: $color-red;
      }
      &-yes {
        color: $color-warning;
        
      }
      &-no {
        color: $color-ok;
      }
    }
}