////////////////////////////////////////////////////////////////////////
// Variables
$font-color: #313131;

$base-color: #313131;
$base-color-light: rgb(224, 224, 224);
$base-color-lighter: rgb(235, 248, 255);
$color-white: #fff;

$color-red: #D81E5B;
$color-green: #59C9A5;
$color-blue: #23395B;
$color-yellow: #FFD54A;

$color-warning: red;
$color-ok:green;

// red #D81E5B green #59C9A5 yellow #FFD54A blue #23395B       

/////////////////////////////////////////
//fonts

$main-font: 'Noto Sans TC', sans-serif;

// color classes 

.bg-green {
    background-color: $color-green;
}
.bg-red {
    background-color: $color-red;
}
.bg-blue {
    background-color: $color-blue;
}
.bg-yellow {
    background-color: $color-yellow;
}
.bg-gray {
    background: $base-color-light;
    background: linear-gradient(0deg, rgba($base-color-light,.8) 0%, transparent 90%);
}

.bg-linear-blue {
    background: rgb(35,57,91);
    background: linear-gradient(180deg, rgba(35,57,91,.2) 0%, rgba(255,255,255,1) 50%);
}
.bg-linear-red {
    background: rgb(216,30,91);
    background: linear-gradient(180deg, rgba(216,30,91,.1) 0%, rgba(255,255,255,1) 50%);
}
.bg-linear-green {
    background: rgb(89,201,165);
    background: linear-gradient(180deg, rgba(89,201,165,.1) 0%, rgba(255,255,255,1) 50%);
}
.bg-linear-yellow {
    background: $color-yellow;
    background: linear-gradient(180deg, rgba($color-yellow,.1) 0%, rgba(255,255,255,1) 50%);
}
.bg-linear-login {
    background: rgb(89,201,165);
background: linear-gradient(146deg, rgba(89,201,165,1) 10%, rgba(216,30,91,1) 40%, rgba($color-blue, 1) 70%, rgba(255,212,71,1) 95%);
}