////////////////////////////////////////////////////////////////////////
// Variables
$font-color: #6A6A6A;

$base-color: #60B8D4;
$base-color-light: #E0F2FA;
$base-color-lighter: rgb(235, 248, 255);
$color-white: #fff;

$color-red: #FFB07E;

$color-warning: red;
$color-ok:green;

/////////////////////////////////////////
//fonts

$main-font: 'Noto Sans TC', sans-serif;